.default-bg {
	background-color: #222222;
	color: #ffffff;
}
.default-bg.blue {
	background-color: #55acee;
}
.btn-primary {
color: #fff;
background-color: #0A94DB;
border:0px;
}
.secPadding{
padding: 70px 0;
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}