html,
body {
    height: 100%;
}

.glyphicon.fast-right-spinner {
    -webkit-animation: glyphicon-spin-r 1s infinite linear;
    animation: glyphicon-spin-r 1s infinite linear;
}

.glyphicon.normal-right-spinner {
    -webkit-animation: glyphicon-spin-r 2s infinite linear;
    animation: glyphicon-spin-r 2s infinite linear;
}

.glyphicon.slow-right-spinner {
    -webkit-animation: glyphicon-spin-r 3s infinite linear;
    animation: glyphicon-spin-r 3s infinite linear;
}

.glyphicon.fast-left-spinner {
    -webkit-animation: glyphicon-spin-l 1s infinite linear;
    animation: glyphicon-spin-l 1s infinite linear;
}

.glyphicon.normal-left-spinner {
    -webkit-animation: glyphicon-spin-l 2s infinite linear;
    animation: glyphicon-spin-l 2s infinite linear;
}

.glyphicon.slow-left-spinner {
    -webkit-animation: glyphicon-spin-l 3s infinite linear;
    animation: glyphicon-spin-l 3s infinite linear;
}

@-webkit-keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-webkit-keyframes glyphicon-spin-l {
    0% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes glyphicon-spin-l {
    0% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}

input[type="file"] {
    display: block;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

table {
    background-color: transparent;
	border-collapse: collapse;
    border-spacing: 0;
	display: table;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.table-striped > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}

audio {
    width: 300px;
    height: 60px;
}

td > a {
	position: relative;
    display: block;
    padding: 10px 15px;
}

.td1 {
	width: 100px;
}

.td2 {
	width: 320px;
}

.td4 {
	width: 100px;
}

.welcom-title, .body-content {
	text-align: center;
}

.welcom-title > h1 {
    font-size: 30px;
    font-weight: 400;
    margin: 0;
	text-align: center;
	color: rgba(27,31,35,.85);
}

.welcom-title > p {
	font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
	color: rgba(27,31,35,.7);
}

#convert-button-container {
	margin-bottom: 20px;
}

#download-all-btn-container {
	margin-bottom: 20px;
	visibility: hidden;
}

#may-not-work-container {
	margin-bottom: 20px;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1999;
  cursor: pointer;
  overflow-y: scroll;
  overflow-x: scroll;
}

#overlay-content{
  /*width: 800px;*/
  padding-top:80px;
  position: absolute;
  left: 50%;
  top: 20%;
  font-size: 50px;
  color: white;
  text-align: center;
  transform: translate(-50%,-20%);
  -ms-transform: translate(-50%,-20%);
}

#overlay-margin {
	height: 40px;
}

#overlay-left, #overlay-middle, #overlay-right {
	float: left;
}

#overlay-middle {
	height: 260px;
	padding-top: 200px;
}

.overlay-or {
	background-color: green;
	font-size: 40px;
}
#overlay-right-img-wrapper {
	padding-top:20px;
	height:455px;
	width:280px;
	background-color:#53a849;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-img {
	display: none;
	position: absolute;
}

.dropdown:hover .dropdown-img {display: block;}

#i-have-donated {
  font-size: 32px;
}

#zip-status {
	margin-top:8px;
}

#open-account-wrapper {
	border: 1px solid #4cae4c;
	display:inline-block;
}

.status-downloaded {
    position: absolute;
	text-align: center;
	font-size: 20px;
	color: green;
    top: 50%;
    left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}
